@media screen and (max-width: 980px){
    .logo-area{
        width: 100%;
        float: none;
        text-align: center;
        
    }
    .login-area{
        width: 405px;
        margin: 15px auto;
        float: none;
    }
    .logo-area form {
        float: none;
    }
    
}

    

